*{
    scroll-behavior: smooth;
}

body{
    background-color: #181818;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.welcome-page{
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cover-img{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(./assets/1LOzdjecie.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 510px) {
    .welcome-button{
        width: 50% !important;
    }
}
.welcome-button{
    color: #121212;
    font-weight: 700;
    font-size: 2rem;
    width: 30%;
    border: 3px solid #121212;
    transform: scale(1);
    transition: all 1000ms ease;
}

.welcome-button:hover{
    transform: scale(.98);
}

.kontakt-btn{
    margin-top: 1rem;
    color: #181818;
    z-index: 999;
    opacity: 1;
    transition: opacity 200ms cubic-bezier(.17,.67,1,.65);
}
.kontakt-btn:hover{
    opacity: .85;
}
.kontakt-btn > h4{
    font-weight: 700;
}
#kontakt{
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.cutoff-text{
    --line-height: 1.4;
    --max-lines: 1;

    max-height: calc(var(--max-lines) * 2em * var(--line-height));
    line-height: var(--line-height);

    overflow: hidden;
    position: relative;
}
.cutoff-text::before{
    content: '';
    position: absolute;
    
    height: calc(1em * var(--line-height));
    width: 100%;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent, #121212);
}

.expand-btn{
    appearance: none;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: .5em;
    border-radius: .25em;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    transition: color 200ms cubic-bezier(.17,.67,1,.65);
}
.expand-btn:hover{
    color: rgba(255, 255, 255, 0.7);
}
.expand-btn:before{
    content: "Pokaż więcej";
}
.expand-btn:checked:before{
    content: "Pokaż miej";
}

.cutoff-text:has(+ .expand-btn:checked){
    max-height: none;
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    color: #fff;

    margin: 0 0 2rem 0;
}

.container{
    background: #121212;
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;

    border-radius: .25rem;
}
@media screen and (max-width: 599px) {
    .container{
        width: 15rem;
    }
}

.inputs{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
    padding: 1rem;
}

.inputs > div > div > div::before{
    border-bottom: 2px solid #fff !important;
}

.inputs > div > div > div > input{
    color: #fff !important;
}

.inputs > div > div > label{
    color: #fff !important;
}

.textarea{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

textarea{
    resize: none;
    padding: 0;
    outline: 0;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;

    color: #fff;
}

.text{
    width: 100%;
    height: 100%;

    pointer-events: none;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;

    position: absolute;
    
    bottom: 0;
    border-bottom:2px solid #3f51b5;

    transform: scaleX(0);
    transition: transform 200ms ease;
}

textarea:focus:has(~ .text) ~ .text{
    transform: scaleX(1) !important;
}

.submit{
    cursor: pointer;
    width: 50%;
    font-size: 2rem;
    color: white;
    background: #181818;
    border: none;
    margin-top: 1rem;
    border-radius: .5rem;
    transition: transform 200ms ease;
}

.submit:hover{
    transform: scale(.95);
}

.succ{
    color: green;
}

.unsucc{
    color: red;
}